<div class="navbar fixed-bottom navbar-light bg-light navbar-lewagon">

    <%= link_to '<i class="fas fa-search icon"></i>'.html_safe, specialties_path(@specialties) %>
    <a href="#"><i class="fas fa-heart icon"></i></a>
    <%= link_to '<i class="fas fa-map icon"></i>'.html_safe %>
    <a href="#"><i class="fas fa-user icon"></i></a>

<i class="fas fa-search icon"></i>


</div>
