<div class="navbar fixed-bottom navbar-light bg-light navbar-lewagon">

    <a href="#"><i class="fas fa-search icon"></i></a>
    <a href="#"><i class="fas fa-heart icon"></i></a>
    <a href="#"><i class="fas fa-map icon"></i></a>
    <a href="#"><i class="fas fa-user icon"></i></a>




</div>
