<h1>All specialties</h1>


<%= render 'shared/navbar' %>

<% @specialties.each do |specialty| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.cuisineaz.com/240x192/i119038-.jpeg)">
  <p><%=specialty.name %></p>
</div>
<% end %>





Le Boulonnais, surnommé le « pur-sang des chevaux de trait » ou le « colosse en marbre blanc », est une race de chevaux de trait originaire du Boulonnais, région française de la côte de la Manche. Historiquement élevé dans tout le Pas-de-Calais, la Picardie et le pays de Caux, en France, ce cheval est réputé, selon sa légende, descendre d'étalons orientaux de passage durant l'Antiquité. Il est davantage influencé par la sélection de ses éleveurs, ainsi que les conditions climatiques et géographiques de sa région originelle.

Apprécié par le roi de France Henri IV, puis par l'empereur Napoléon Ier, cet animal de trait rapide connaît une vague de popularité lorsqu'il convoie des chargements de poisson frais entre Boulogne-sur-Mer et Paris, jusqu'à l'arrivée du chemin de fer vers 1850. Avec la modernisation des transports, il est reconverti dans les travaux de force et d'agriculture, travaillant dans les champs de betteraves ou plus rarement comme cheval de fond dans les mines. Ses éleveurs sélectionnent des chevaux plus puissants et étoffés. En 1902, la population de chevaux Boulonnais est estimée à plus de 600 000 individus. La modernisation des transports après la Première Guerre mondiale, puis l'arrivée du tracteur après la seconde mettent la race en péril. Les bombardements des ports et l'occupation allemande lui font subir de lourdes pertes. Les effectifs diminuent régulièrement jusqu'en 1989. Des actions de sauvegarde sont menées, dont la création de la route du Poisson.

Ce cheval de grande taille, de robe fréquemment grise, est désormais surtout élevé pour sa viande, réputée être l'une des meilleures du marché. Autrefois utilisé par l'armée française, il est valorisé en attelage de compétition et de loisir grâce à son trot énergique, et employé localement par la police montée de sa région. Il reste d'usage au labour et pour l'entretien des vignes, grâce à sa puissance de traction couplée à une énergie rare chez un cheval de trait.

Avec 583 individus recensés en 2014, le Boulonnais est le cheval de trait français le plus menacé, en raison de son taux de consanguinité et de la baisse régulière des nouvelles naissances.

Lire la suite
Contenus de qualitéBons contenusSélectionProgramme
Actualités
Joseph Muscat en 2018.
1er décembre : soupçonné d'ingérence dans l'enquête sur l'assassinat de la journaliste Daphne Caruana Galizia, le Premier ministre maltais Joseph Muscat (photo) annonce sa démission en janvier.
30 novembre : le Premier ministre irakien Adel Abdel-Mehdi présente sa démission deux jours après la mort de 45 manifestants lors du mouvement de protestation en Irak.
29 novembre : une attaque terroriste djihadiste à l'arme blanche se produit sur le pont de Londres.
25 novembre : l’armée française perd treize militaires dans un accident d’hélicoptères au Mali.
24 novembre : en Roumanie, le président libéral sortant Klaus Iohannis est réélu au second tour de l’élection présidentielle.
Événements en cours : Manifestations en Colombie · Manifestations en Iran · Crise post-électorale bolivienne · Manifestations en Catalogne · Manifestations au Honduras · Manifestations au Liban · Manifestations au Chili · Manifestations en Irak · Procédure de destitution de Donald Trump · Manifestations à Hong Kong · Hirak (Algérie) · Manifestations en Haïti · Feux de forêt en Amazonie · Mouvement des Gilets jaunes · Crise présidentielle au Venezuela · Épidémie de maladie à virus Ebola au Kivu · Négociations sur le Brexit · Guerre civile syrienne  –  Championnat du monde féminin de handball · COP 25 · Référendum sur l'indépendance de Bougainville

Nécrologie : Francesco Janich, Robert K. Massie (2 décembre) · Henri Biancheri, Lil Bub, Miguelina Cobián, Mariss Jansons, Shelley Morrison, René Rebuffat (1er décembre) · Michael Howard, Petr Málek, Brian Tierney (30 novembre) · Makio Inoue, Serge Lindier, Yasuhiro Nakasone, Claude Sempère (29 novembre)

Décembre 2019WikinewsModifier
Le saviez-vous ?
Centrale nucléaire de Forsmark.La catastrophe nucléaire de Tchernobyl a été révélée au monde à la suite de la détection d’une radioactivité anormale dans une centrale nucléaire suédoise (photo).
En 2012, l’édition de septembre du magazine Vogue a atteint le nombre record de 916 pages, dont 658 consacrées à la publicité.
À l’origine, Le Penseur est un poète posté sur La Porte de l’Enfer.
L’armalcolite, la tranquillityite et la pyroxferroite sont trois minéraux découverts grâce au programme Apollo.
Utilisé dans les années 2010 pour désigner les orientations de différents gouvernements, en particulier hongrois et polonais, le terme d’illibéralisme servit auparavant à Pierre Rosanvallon pour caractériser la culture politique française.
Le dernier recensement de la population mené officiellement au Liban date de 1932, sous le mandat français.
