<h2> <%= @specialty.name%></h2>
<div><%= cl_image_tag @specialty.photo, height: 300, width: 400, crop: :fill %>
<a href="#"><i class="far fa-heart favorites"></i></a>
</div>
<p><strong>Description: </strong><%= @specialty.description %></p>
<%= render 'shared/navbar' %>
