<div class="homepage">
  <div>
    <%= link_to specialties_path do %>
      <%= image_tag "logo.png", height: 100, width: 100 %>
    <% end %>

    <div class="name">Food trotter</div>
    <div class="bordure"></div>
  </div>
</div>
