<div class="map-design">
  <div class="localisation">
    <%= link_to specialties_path do %>
      <i class="fas fa-arrow-left float-left" style="margin-top: 5px"></i>
    <% end %>
    Localisation
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>




