// @media(max-width: 768px){
// .boxup {
//     margin: 10px;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 5px 30px;
//     margin-right: 3%;
//     justify-content: center;
//     align-items: center;
//     padding: 8px;
//     border-bottom: groove;
//     border-color: $light-gray;
//     border-width: 1px;
//   }
// }

.av-spe {
  background-color: $mint;
  color: $sugar;
  text-align: center;
  height: 100px;
  padding: 10px;
  letter-spacing: 2px;
  align-items: center;
}



h3 {
  color: $mint;
  font-family: $headers-font;
  text-decoration: none;
}

.food-trotter {
  color: $tagada;
  margin-right: 3px;
  font-weight: bold;
}

.recommendation {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 50px;
}

.restaurant-title a {
  color: $mint;
  margin-top: 0px;
  padding-top: 0px;

}

.card-product-image {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: $sugar;
  font-size: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 5px -8px;
  position: relative;
  text-decoration: none;
  margin-top: 30px;
}

.favorites {
  color: $sugar;
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
}

// h4 {
//   font-size: 20px;
//   font-family: $headers-font;
//   font-weight: bold;
//   text-decoration: none;
//   color: $sugar;
// }

.restaurant-title a {
  color: #1BA67F;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
}

.bottom {
  overflow: hidden;
  height: 120px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 8px;
}

.line {
  border-bottom: groove;
  border-color: $light-gray;
  border-width: 1px;
}

.card-restaurant {
  height: 100%;
  width: 125px;
  border-radius: 2px;
  object-fit: cover;
}

.info-resto {
  padding: 0px;
  margin-bottom: 30px;
}

.info-resto h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $mint;
  margin-top: 0px;
}

.info-resto p {
  font-size: 12px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 12px;
  margin-top: 20px;
}

.bottom .info-resto {
  padding-left: 16px;
}

.float-left-sugar {
  color: $sugar;
  float: left;
}

.avatar-spe {
  display: flex;
  justify-content: center;
  > img {
    margin-top: 18px;
    margin-right: 6px;
    width: 56px;
    height: 56px;
    border: #ffffff 2px solid;
  }
  > .specialty-title {
    color:  $sugar;
    font-size: 20px;
    font-family: $headers-font;
    font-weight: bold;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 30px;
  }
}

