.card-game {
  background-size: cover;
  background-position: center;
  height: 80px;
  min-width: 100px;
  margin-right: 10px;
  border-radius: 3px;
  }

  .game-container {
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  }

.boxgamebottom {
display: flex;
justify-content: flex-start;
// height: 150px;
// align-items: center;
}

.specialtygamedescription {
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;

}

.namespecialty {
  font-size: 16px;
  color: $mint;
  margin-bottom: 0px;
  font-family: $headers-font;
  font-weight: bold;
}

.specialtytext {
  font-size: 10px;
  color: $mint;
  margin-bottom: 0px;
  color: $sardine;
}

.pointsgamedescription {
  display: flex;
  color: $sugar;
  font-size: 12px;
  right: 0;
  align-items: center;
  background-color: $tagada;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 3px;
  border-radius: 5px;

}

.game-container {
  display:flex;
  justify-content: space-between;
}
