.card-category {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: $sugar;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px -8px;
  position: relative;
  text-decoration: none;
}

@media(max-width: 768px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 30px;
    margin-bottom: 72px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.specialty-name {
  margin-left: 8px;
  font-family: $roboto;
  font-size: 16px;
}

.specialty-name a {
  color: $sugar;
}

.favorites {
  color: $sugar;
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.favorites2 {
  color: $sugar;
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 100%;
  padding-top: 115px;
}
