$color-stack:
  (group: primary, id: normal, color: #fff),
  (group: complement, id: normal, color: #444);

@function color($group, $shade:normal, $transparency:1) {
  @each $color in $color-stack {
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if($group == map-get($color, group) and $shade == map-get($color, id)){
      @return rgba(map-get($color, color), $transparency);
    }
  }
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: .4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: 38px; //Horizontally centers bun in menu
$b-pad-top: 53px; //Vertically centers bun in menu

@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}


body {
  background-color: white;
  &.open {
    overflow: scroll;
    display: flex;
    .navbar-lewagon {
      display:none;
    }
  }

  &.open:after {
    background: color(primary);
    content: '';
    height: 100%;
    right: 0;
    opacity: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    transition: $b-transition;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.b-nav {
  position: absolute;
  z-index: 11;
  background: color(primary);

  &:not(.open) {
    visibility: hidden;
  }

  &.open {
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}

.b-link {
  background: transparent;
  border-left: color(complement, normal, 0) solid $b-border-width;
  color: color(complement);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-margin-left;
  text-decoration: none;
  transition: $b-transition;
  width: auto;

  &:hover,
  &--active {
    border-left: color(complement) solid $b-border-width;
    padding-left: $b-txt-pad;
  }
}

.b-menu {
  cursor: pointer;
  display: inline-block;
  height: $b-height;
  padding-left: $b-pad-left;
  padding-top: $b-pad-top;
  position: relative;
  transition: $b-transition;
  user-select: none;
  width: $b-height;
  z-index: 12;
}

.b-bun {
  background-color: $mint;
  position: relative;
  transition: $b-transition;


  &--top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  &--mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  &--bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }
}

.b-container {
  height: $b-height;
  right: $b-margin-left;
  position: absolute;
  top: $b-margin-top;

  &:hover:not(.open) {
    .bun-top,
    .bun-mid,
    .bun-bottom {
    }
  }

  &.open {
    .b-main {
      border: color(complement) solid $b-border-width;
    }

    .b-bun--top {
      top: 9px;
      transform: rotate(45deg);
      background-color: $mint;
    }

    .b-bun--mid {
      opacity: 0;
    }

    .b-bun--bottom {
      top: 5px;
      transform: rotate(-45deg);
      background-color: $mint;
    }
  }
}
.b-footer {
  display: flex;
  justify-content: left;
  border-radius: 4px;
  color: $sugar;
  a {
    color: $sugar;
  }
}

div.custom-control-right {
    padding-right: 24px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
div.custom-control-right .custom-control-label::after{
    right: -1.5rem;
    left: auto;
}
div.custom-control-right .custom-control-label::before {
    right: -2.35rem;
    left: auto;
}

.custom-switch {
    padding-left: 1.5rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $mint;
    background-color: $mint;
}

.custom-switch .custom-control-label::after {
    background-color: $mint;
}

fieldset.check_boxes{
    display: none;
}

.btn-custom {
    color: $sugar !important;
    background-color: $mint;
    border-color: $mint;
}
.kaka {
    font-family: $body-font;
    margin: 10px;
}
