.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: $mint;
}

.search-form-control .form-control {
  height: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #d8d8d8;
  background-color: #d8d8d8;
  margin-top: 12%;
  margin-bottom: 12%;
  font-size: 18px;
  font-family: $roboto;
}

.form-control::placeholder {
  color: $oyster;
}

.search-design {
  width: 90%;
  margin-left: -4%;
}

.btn {
  color: $sugar;
}

.btn-flat {
  display: flex;
}

