.description {
  text-align: justify;
  margin-top: 16px;
  // margin-left: 8px;
  // margin-right: 16px;
}

.boxshowspecialty {
  // margin-right: 8px;
  // margin-left: 8px;
}

.cardcategorycard {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: $sugar;
  font-size: 12px;
  border-radius: 5px;
  // margin: 5px -8px;
  position: relative;
  text-decoration: none;
  margin-top: 24px;
}

.food {
  padding-top: 37px;

}

.title {
  margin-top: 32px;
  color: $mint;
  font-weight: bold;
}


.boite {
  display: grid;
  grid-template-columns: 1fr 143px;
  grid-gap: 5px 30px;
  margin-right: 3%;
  // margin-left: 5%;
}


.iconm {
  font-size: 22px;
  color: $mint;
}

.media {
   padding-top: 20px;
}

.points {
  color: $mint;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.localisationsh {
  font-family: 'Open Sans', sans-serif;
  // background-color: $mint;
  color: $mint;
  text-align: center;
  height: 50px;
  padding: 10px;
  letter-spacing: 2px;
  align-items: center;
}

.tagadastyle {
  color: $tagada;
  font-weight: bold;
  // display: flex;
}

.tagadastyle2 {
  // display: flex;
  margin-left: 4px;
}








